
<html>
<% include ./partials/head %>

  <body>
  <% include ./partials/nav %>

    <div class="container" align="center">
      <form action="/job/add/" class="form-horizontal" role="form" method="post">
        <div class="row">
          <div class="col-sm-12 col-xs-10">
            <div class="panel panel-default" >
              <div class="panel-heading">  <h4 >Your job offer</h4></div>
              <div class="panel-body">
                <div class="box box-info">
                  <div class="box-body">
                    <div class="col-sm-20">
                      <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive" align="center">

                    </div>
                    <hr style="margin:1px 0 1px 0;">
                    <div class="col-sm-6 col-xs-4 "  >
                      <div class="required-field-block" id="firstnameCVv" name="firstnameCVv" >
                        <label>First name :</label>
                        <%= cv.firstnameCV %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 "  >
                      <div class="required-field-block" id="expeCV" name="expeCV">
                        <label>Last name :</label>
                        <%= cv.lasttnameCV %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-6 col-xs-4" id="expeCV" name="expeCV" >
                      <label>Email :</label>
                      <%= cv.emailCV %>
                    </div>
                    <div class="col-sm-6 col-xs-4 " id="expeCV" name="expeCV" >
                      <label>Professional phone :</label>
                      <%= cv.phoneCV %>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-sm-6 col-xs-4 " id="expeCV" name="expeCV">
                      <div class="required-field-block" >
                        <label>Higher qualifications :</label>
                        <%= cv.qualifCV %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-sm-6 col-xs-4 " id="expeCV" name="expeCV">
                      <div class="required-field-block">
                        <label>Mother tongue :</label>
                        <%= cv.motherTongueCV %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 " id="expeCV" name="expeCV">
                      <div class="required-field-block">
                        <label>Secondary tongue :</label>
                        <%= cv.sTongueCV %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-4 col-xs-4 " id="expeCV" name="expeCV">
                      <div class="required-field-block" >
                        <label>Localisation :</label>
                        <%= cv.localisationCV %>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 ">
                      <div class="required-field-block">
                        <label>Domain required :</label>
                        <%= cv.sectorCV %>
                      </div>
                    </div>

                    <div class="col-sm-4 col-xs-6 " id="expeCV" name="expeCV" >
                      <div class="required-field-block">
                        <label>Experience in this domain :</label>
                       <%= cv.experienceCV %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <div class="col-sm-12 col-xs-3 " align="center" id="expeCV" name="expeCV">
                  <div class="required-field-block">
                    <label>Small description:</label>
                    <%= cv.desciCV %>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-3 " align="center" id="expeCV" name="expeCV">
                  <div class="required-field-block">
                    <label>Motivation & quality:</label>
                    <%= cv.motivCV %>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-3 " align="center" id="expeCV" name="expeCV">
                  <div class="required-field-block">
                    <label>Expectations:</label>
                    <%= cv.attemptsCV %>
                  </div>
                </div>
              </div>

              <a type="button"  href="/navigationCV" class="btn-lg">Previous</a>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
            </div>
            </div>




        </div>
      </form>
      </div>

</body>
</html>
