
<html>
<head>
  <title>JobSearch</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="styleAdd.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
  input.hidden {
    position: absolute;
    left: -9999px;
  }

  #profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #FBA01B ;}
    .tital{ font-size:16px; font-weight:600;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:10px 0  10px 0}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container" align="center">
      <form action="/job/add/" class="form-horizontal" role="form" method="post">
        <div class="row">
          <div class="col-sm-12 col-xs-10">
            <div class="panel panel-default" >
              <div class="panel-heading">  <h4 >Your job offer</h4></div>
              <div class="panel-body">
                <div class="box box-info">
                  <div class="box-body">
                    <div class="col-sm-20">
                      <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive" align="center">

                    </div>
                    <hr style="margin:1px 0 1px 0;">
                    <div class="col-sm-6 col-xs-4 "  >
                      <div class="required-field-block" id="compNamev" name="compNamev">
                        <label>Company Name :</label>
                        <%= job.companyname %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 " id="emailCompv" name="emailCompv" >
                      <label>Email :</label>
                      <%= job.emailComp %>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-sm-6 col-xs-4 "id="phoneCompv" name="phoneCompv"  >
                      <label>Professional phone :</label>
                      <%= job.phoneComp %>
                    </div>
                    <div class="col-sm-6 col-xs-4 " id="expeCompv" name="expeCompv">
                      <div class="required-field-block" >
                        <label>Experience required :</label>
                        <%= job.experienceComp %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-sm-6 col-xs-4 "id="domCompv" name="domCompv">
                      <div class="required-field-block" >
                        <label>Domain required :</label>
                        <%= job.sectorComp %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 "id="langCompv" name="langCompv" >
                      <div class="required-field-block">
                        <label>Langage required :</label>
                        <%= job.sTongueComp %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-6 col-xs-4 "id="locCompv" name="locCompv" >
                      <div class="required-field-block" >
                        <label>Localisation :</label>
                        <%= job.localisationComp %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-4 "id="salaryV" name="salaryV">
                      <div class="required-field-block">
                        <label>Salary proposed :</label>
                        <%= job.salary %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-6 col-xs-4" id="durV" name="durV">
                      <div class="required-field-block" >
                        <label>Duration and schedule :</label>
                        <%= job.temp %>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 "  id="gradv" name="expeCV">
                      <div class="required-field-block">
                        <label>Graduations required :</label>
                        <%= job.grad %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <div class="col-sm-12 col-xs-3 " align="center" id="descrCompv" name="descrCompv">
                  <div class="required-field-block">
                    <label>Description:</label>
                    <%= job.descrComp %>
                  </div>
                </div>
              </div>

              <a type="button"  href="/navigationJob" class="btn-lg">Previous</a>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
            </div>
            </div>




        </div>
      </form>
      </div>

</body>
</html>
